//Header
header.header-main
  position: relative
  z-index: 1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  height: 500px
  background: 
    size: cover
    position: center center
    repeat: no-repeat
  .overlay-light
    position: absolute
    z-index: 2
    top: 0
    right: 0
    bottom: 0
    left: 0 
    background: $white
    opacity: .1
  .home-title
    position: relative
    z-index: 3
    text-align: center
    padding-top: 50px
    h1
      font-size: 3.125em
      font-weight: 500
      line-height: 1.2em
      padding: 0 20px 5px 20px
    h3
      font-size: 1.25em
      font-weight: 400
      line-height: 1.2em
  a.home-avatar
    position: absolute
    z-index: 3
    bottom: 0
    left: 0
    right: 0
    margin: auto
    margin-bottom: -50px 
    height: 100px
    width: 100px
    border-radius: 100%
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,.25)
    background: 
      image: url('../img/333.jpg')
      size: cover
      position: center center
      repeat: no-repeat
    @media screen and(max-width: 355px)
      height: 75px
      width: 75px
      margin-bottom: -43px
//Archive Introduction
.Archive-Introduction
  max-width: 600px
  margin: 160px auto 100px auto
  padding: 0 20px
  h2
    padding-bottom: 17px
  p
    a
      font-weight: 600
      color: $highlight
      transition: all 0.15s ease-in-out
      &:hover
        color: $secondary


