<footer class="footer-wrapper">
  <div class="footer-social-links">
    <a href="https://www.facebook.com/profile.php?id=100072196908403" target="_blank" class="social-icon-wrap footer-facebook-wrapper"></a>
    <a href="https://twitter.com/ZZZChelsea0806" target="_blank" class="social-icon-wrap footer-twitter-wrapper"></a>
    <a href="https://www.instagram.com/che1seazz/" target="_blank" class="social-icon-wrap footer-instagram-wrapper"></a>
  </div>
  <a href="mailto:{{ site.email }}" class="footer-email">{{ site.email }}</a>
</footer>