<!-- Navigation -->
<nav class="nav-wrap">
  <a href="{{ site.baseurl }}/" class="nav-logo">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="750px" viewBox="0 0 1000 750" enable-background="new 0 0 1000 750" xml:space="preserve">  <image id="image0" width="1000" height="750" x="0" y="0"
        href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA+gAAALuCAQAAACXhPTGAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
    cwAALiMAAC4jAXilP3YAAAAHdElNRQflDAQLDTUvhw9IAAAZ6UlEQVR42u3debQmdWHm8advLyyC
    zSKNokJHBATBBdzGdQQnmahBjRqTGZeRHAeNimMSPC6T8QyJmaNHJROPYwLHMZpoZJxI3MZE1KgI
    ahaZ4RhRccEotqCyCt1KL/MHLk33vX3rvd19697n/Xz+gvf9Vb2/ek+f93vfqnqrVmwLALDczYw9
    AQBg9wk6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANA
    AUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgA
    UEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6
    ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKC
    DgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCA
    oANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAo
    IOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0A
    Cgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEH
    gAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQ
    AaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQ
    dAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAF
    BB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANA
    AUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgA
    UEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6
    ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKC
    DgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCAoANAAUEHgAKCDgAFBB0ACgg6ABQQdAAoIOgAUEDQAaCA
    oANAAUEHgAKCDgAFBB0ACgg6ABRYNfYEAOa0IvtlZbaNPQ22syKbs3HsSTAbQQeWrvvlDVmXrWNP
    g+3M5Kq8JN8YexrsTNCBpep++Z85eexJsJOTckDOyFVjT4MdrbAvC1iSDskH86/GngRz+EB+LZvG
    ngR35KQ4YGnaL/ccewrM6aisHnsK7EjQAaCAoANAAUEHgAKCDgAFBB0ACvgdOrB8/HP+ydeQRbct
    j8i9xp4E8xN0YPn4QF4x9hSm0tsFfTnwty4AFBB0ACgg6ABQQNABoICgA0ABQQeAAoIOAAUEHQAK
    CDoAFBB0ACgg6ABQQNABoICgA0ABQQeAAoIOAAUEHQAKCDoAFBB0ACgg6ABQQNABoICgA0ABQQeA
    AoIOAAUEHQAKCDoAFBB0ACgg6ABQYNXYEwBYVlbm8ByRdTk0a3JLNuTqXJ2NY08KBB1gqJVZn0fl
    tNw398jBWZkk2Zhv5yv5ZD6RL+bWsSfIdBN0gPmtzH3zzJyeo3f41Nw/x+bYPCHfy6W5MB/Nhmwb
    e6pMK0EHmM/d8ps5I+uzYo7nV2RdnpxfzuV5T/53vpmtY0+YaSToALsyk0fk1XnMgE/LffLgPDDP
    yrvy7nzTN3UWm7PcAea2Js/KO3La4C8/q3JSfj8X5reybuypM20EHWAu++WsnJv1Ey61Kg/IG3NB
    npL9x94ApomgA8xu37wkr87BC1p2Tf513pY35/4+ZVks/qkBzGZlzswrc8BurGFt/kPekxdk7dib
    wnQQdICdrcjT86ocuNvrOSavz1ty4tibwzQQdICdPTTn5LA9sqZ98xt5V57kN0XsbYIOsKMjck6O
    2YPrOynn5UXZd+zNopugA9zRmpyV0/bwOtflD/Kq3ToiD/MQdIA7elzO2AufjXfK2XlV7jT2xtFL
    0AG2d3h+Zw8dPd/RPnlJXpTVY28grQQdYHvPzKP32rr3y+/m9LE3kFaCDvBzx+d5e/V89Lvk5bnX
    2BtJJ0EH+KmZPDfH7eXXOCXP9snL3uCfFcBP3T/PWPCyQ++utiJPy5FjbyiNBB3gdivz7AWn9us5
    N9cOHHvvPHbsTaWRoAPc7sQ8ZYFLXp7n5fdyycDR++TU7DP2xtJH0AGSZCZPy1ELWvLzOTMfz625
    OFsGLnGKu6Wz5wk6QJIctcDv51fkrHw2SXJZNg1c5h45fuzNpY+gAyTJv13Q+e0b8vKf7Wr/Tm4Y
    uNQBeeDYm0sfQQdI1i7ofmib8vp86Gf/d0u+N3C5FTk+K8feZNoIOkDyoDxkAUu9N2/d7rj5ptw4
    eMl755CxN5k2gg4wk1/OwRMv9ZW87g4Jvy23Dl72qAW8HuySoAPcdQG3S/1x/kcuv8MjW/LjwUsf
    nLuOvdG0EXSAh+SYiZe5JH85+OpwO1uTo8feaNoIOjDtZnLaxPcpvyXnDb4y3GxWZ/3Ym00bQQem
    3eF5+MTLXJq/3emxFRN9ot597M2mjaAD0+6EiXe4/yh/ket3enRl1kywjnXZd+wNp4ugA9PukTlw
    wiUuz0WzPLo6+02wjkNz57E3nC6CDky3O+WUiZf562yY5dFVEwX94ImP28MuCTow3Y7IiRMucXU+
    POvj+0z0nXutoLNnCTow3Y7N3SZc4nO5YtbHBZ1RCTow3U6Z8N7kW/LhOe6qduBEiV7t4q/sWYIO
    TLNVOSkrJlri27l0jmfWZfUE65kRdPYsQQem2WETX+Dlsnx9jmfuOtH92mZczZ09S9CBaXZ4jpxo
    /NZcOscO92T9hN/QBZ09StCBaXbPCbN6cz4zxzOH5FETvvZBY288XQQdmGbHTrSbPLlyzh3uT8zD
    JnxtZ7mzRwk6MM2OnvCUuC/mmlkfPyIvmOiyMkkmfGWYh6AD02v1xEfQL8+WWZ953AKuNzf87ukw
    gKAD02tt7jLR+Ftz2RzPPHiiE+Jud93Ym0+XyY4eATQ5aMIT076fq+Z45oaJX3tL/mXw2DU5Okfm
    gGzKDflurp7zPHummqAD02vSoH9tlpum3u69eVJOmmhdP8pXBo68T/5Tfil3z6pszS3ZkCvzsVyU
    r+S2RX+/WNIEHZheB054C9Ov58Y5nrksz8nZeXzWDl7XVfn2oHEn5vyfnT+/MnfOnXNcHp9v5f15
    25xH9JlKjqED02vthNdxvypb53zusjwvz8y7891sG7SuywcF/c75L7P8HG4mR+XFeW9ennWL+n6x
    pAk6ML0OmegzcFO+ucvnb8kHc0aenN/PP+Tmeda1OZ8YtMv8cXn8nM+tz6vz1txv0d4tlji73IHp
    ddBEozfOE/Tbx3wu/5g358E5LY/OMTlgjj8ZvpqPDXjF1XnKLi8/szpPzOF5Qf5p8d4yli5BB6bX
    ZEfQN2XDoHFbcm0+lL/JXXJiHpOH5qQcmjV3GLE1757zinPbOzIPmXfMg/PaPDvfWbT3jCVL0IFp
    tSIHTDT+B7llgtFbck2uycezNvfIyXlojs8xOSyrM5Ot+WDO38XR+J87JUcNGPXYPCuvXcw3jqVJ
    0IHpte9Eo69ZwO+/t+WG3JAv5M9zUO6a9Tku6/OtXDDoG/WqPGbQSXszeWLOm/MHdUwNQQem1YoJ
    g/79/GjBr7Ut1+f6XJEPT7DMYXnkwJF3z90EHWe5A9NrzUSjb1jkS7mcnF8YOHL1hFtCJUEHGOaG
    bF7EV1uRR+bAwaOH/fadaoIOTK/JbmB606LO7ZA8ZlFfj2VP0IHpNdn32knOcd99v+iSMUxG0IHp
    NckdyTcv6j3Ojs5Ld3lJGdiJoAPTattEx8S35NZFm9l+eWketPhvCMuboAPTa5Kz1rcu4jnuz8iz
    Jzy+D4IOTK1t2TjR6MU6x/3kvGKC89vhJwQdmF7z3RNte1sX6d7jB+c/59hx3g6WN0EHpteNY09g
    Fs/NE8eeAsuToAPT67old0GW++TMrB57EixPgg5Mr+sG3fNsMT1pQbvbtyzS4QCWNEEHpteN+eHg
    sTNZudfns28eu6Dlti25PQ2MQNCB6XVjbhg8dmbQrUx3z9qsG/HdYJkTdGB6XT/BTUdXLkLQf7Qb
    N2hl6gk6ML2uyw8Gj1054d3TF+Km/L8x3w6WN0EHptfGfHvw2JkcsNfnszXvyr+M+YawnAk6MM2u
    nGDspDdLWZVjc3LWZ80Ey3w6z8+nJrppDPzEqrEnADCiL2Xz4M/BtVkxwdnkq3JmXpID84Ncmb/L
    J/KVQXdr25oP5/N5XE7PA3LP7Df228NyIujANLsqN+QuA8cenDUTnLT28PxeDk9y19w3p2dDPpW/
    yqfyvQFLXpN35n/lqJyQh+cXc6ILzTCMXe7ANNuQbw4ee+gEO89n8us5fLv/u3t+I3+ev8oLc+Sg
    +6jdlq/m/XllfiX/dYIz8Zlqgg5Ms2vztcFj101wnvsRecROj+2XR+XcvC9n514Db466NVfntfnT
    sd8klgdBB6bZ5lw2+Lj4ugmOaR+XX5j18dV5QF6Tv87Lsn5g1Dfno4t4J3aWMUEHpts/5NaBIw/I
    YYPXesou7mi+KiflD3JhXjjwunCbXNiVIQQdmG5X5hsDR+6bIweO3D+PmWfEqjwgb8i7c/qA68/N
    f+R+czbv1feIZUHQgen2nXx+4Mj95tiNvrMH5cEDRq3JY/Nned28fybMzLtz3s1ZiKAD025zPj3w
    GPVM7jVo3AF5/uCd8wfnRXlb7r/LMWLNIIIOTLtL8t2BI++VOw8Y9fScPsGrz+TU/OGg9cIuCTow
    7a7KZweOPCaHzDvmlLxs4ovEHpv9x34TWP4EHZh2t+YjA6+efnjWzzPiiJyT+0w8gy/nlrHfBJY/
    QQf4RK4aNG7/nLzL5w/MK/NLE7/6tlycm8d+C1j+BB3gqlw0aNzKPHAXd8BYkxfnjKyc+NW/nA+M
    /QbQQNABNud9A6+Yfv/cbY5nVua5OXsB90f7Yf44V4z9BtBA0AGSz+aSQeOOzgmzPj6TZ+ScHLSA
    Vz4vf+aHaewJgg6Q3Jx3DroE7P553CyPrshT8rqBF3K9oytzfjaOvfF0EHSAJPlILh007rE5YodH
    VuRX80e5+wJec1vemS+NveG0EHSAJLkubx3047ETd7hO+0yemj/KPRb0mpfnHQNGDTnNzk57BB3g
    Jz6cjw4YtU+evd2x8tX59/nvC8z5j/Ong24Ms3reEZuzZXHeIpYyQQe43Y15c74/YNyj86s/+a8D
    c1bO3WkX/FAfyQVjbzJNBB3gpz6Rdw4YtX9elkdmVe6TN+ScHLrA19qQN+a6sTeYJqt2fxUAJW7L
    m/Koea4GlyTH5fx8Jg/LcQv+UrQ5f5JPjb25dPENHeDnvpb/NugSM/fJc3P8bnyCXpQ/cdybPUvQ
    Abb3gZy311P7tZyTa8feUNoIOsD2fpQ35oN79RVuyh/mc2NvJn0EHeCOrs0r8/d7be2b85a8y+/G
    2fMEHWBHX8xL88W9tO4L84ZsGnsDaSToADu7NGfly3thvRfnVfne2BtHJ0EHmM3H8lv5wh5e5xfy
    u7ly7A2jlaADzO7j+c1cvAePdn8jv7MXj80z9QQdYC5/nzPyzvx4j6zr6pydixa05OqsmGfE1mxd
    5HeGJUjQAeb21bw4r8rVu72e7+TsXLjAb/vz321tq4vUIOgAu3ZDzs2v533ZuBvr+FZ+Oxcs+Fv0
    /H8G+BEcEXSA+WzJp/PcvCCfyW0LWv7KvDjvsVOcvU3QAeZ3fd6ep+aF+bvcMuGS/5jn5f1yzt4n
    6ADDbMj5eWp+LW/JlwZ+V9+cC/OcfNIucRaD26cCDHd9/k/+Nkfm0fmVPCx32+WXoh/kvJzrMjIs
    FkEHmMyWfCPfyAU5Pqfl8Tkph87ys7Lb8tm8Pn+zh37yBgMIOsBCbMpl+b85P/fLqfk3OSFrf/Zt
    /dZckb/IBdkw9hSZLoIOsFDbcmMuziV5U07KqTk5a/LDXJXP5dP5rtPgWGyCDrB7tua6fDIX506Z
    yeZscpEXxiHoAHvC1tw89hSYbn62BrC0+ZxmEP9QAJa21fOOcHMWIugAS90Kd1tjCEEHgAKCDrC0
    7T/2BFgeBB1gaTthwB3RXS0eQQdY0u6U+807ZnXWjD1NxifoAEvZwTls3jH3zL3HnibjE3SApey6
    fGHeMQfl32WfsSfK2AQdYCm7Na/JxfOOenIeOfZEGZugAyxtV+TMfHCeX5ofmqcMOHWOaoIOsNRd
    kf+YN+WmXY45wYlx007QAZa+DXlFzsqXdjFio6vFTTtBB1gONuYdeUb+MrfO8fyXctvYU2Rcgg6w
    PGzL5Xl+XpIrZrmMzE35mG/o007QAZaPm/LWPD1vzfU7PP6hAWfCU07QAZaTbfnnnJXn5KJs+tkj
    l+Y1uXnsiTG2VWNPAIAJbcwH8pk8IU/LsflhLs5b8uWxp8T4BB1gOfp+3p735rBsyrXZPPZkWAoE
    HWC5utmOdn7OMXQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKAD
    QAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAqsGnsCAIM9JL/t
    a8ii25b7jj0FhhB0YPk4NaeOPQVYqvytCwAFBB0ACgg6ABQQdAAoIOgAUEDQgaVpc24aewrM6cZs
    HXsK7EjQgaXpmrws3x57Eszqy3l5bhl7EuxoxbaxZwAwlyfkj3NwfEwtJTO5OmfmkrGnwc4EHVi6
    ZnJk9hl7EuzgFntOliZBB4ACjqEDQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFB
    B4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA
    0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAU
    EHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4A
    BQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKAD
    QAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDo
    AFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoI
    OgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4AC
    gg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGg
    gKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQA
    KCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQd
    AAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFB
    B4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA
    0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAU
    EHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4A
    BQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKAD
    QAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDo
    AFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoI
    OgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4AC
    gg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGg
    gKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQA
    KCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQd
    AAoIOgAUEHQAKCDoAFBA0AGggKADQAFBB4ACgg4ABQQdAAoIOgAUEHQAKCDoAFBA0AGggKADQIH/
    DxIZreUXBd/AAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIxLTEyLTA0VDAzOjEzOjUzKzA4OjAw9ZlH
    GQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMS0xMi0wNFQwMzoxMzo1MyswODowMITE/6UAAAAgdEVY
    dHNvZnR3YXJlAGh0dHBzOi8vaW1hZ2VtYWdpY2sub3JnvM8dnQAAABh0RVh0VGh1bWI6OkRvY3Vt
    ZW50OjpQYWdlcwAxp/+7LwAAABl0RVh0VGh1bWI6OkltYWdlOjpIZWlnaHQAMTQxN1ILchgAAAAY
    dEVYdFRodW1iOjpJbWFnZTo6V2lkdGgAMTg5MBjlSM4AAAAZdEVYdFRodW1iOjpNaW1ldHlwZQBp
    bWFnZS9wbmc/slZOAAAAF3RFWHRUaHVtYjo6TVRpbWUAMTYzODU1ODgzM17BUwoAAAATdEVYdFRo
    dW1iOjpTaXplADIyMzk1QkJVWijMAAAARnRFWHRUaHVtYjo6VVJJAGZpbGU6Ly8vYXBwL3RtcC9p
    bWFnZWxjL2ltZ3ZpZXcyXzlfMTYzMTc1NzUyOTU2ODk3ODRfOTRfWzBd5Bq8+AAAAABJRU5ErkJg
    gg==" ></image>
    </svg>
  </a>
  <ul class="navigation">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/archive">Archive</a></li>
    <li><a href="{{ site.baseurl }}/about">About</a></li>
  </ul>
 </nav>

